# Binary
terraform-provider-ngrok

# Terraform
test-manual/.terraform/
test-manual/.terraform.lock.hcl
test-manual/terraform.tfstate
test-manual/terraform.tfstate.*

# Secrets/certs
test-manual/*.key
test-manual/*.crt

# OS
.DS_Store
